.card{
    display: flex;
    flex-direction: column;
    background-color: #1a1a1e;
    border-radius: 10px;
    padding: 1em;
    width: 300px;
    min-height: 300px;
}

.form-exercise {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.form-label {
    margin-bottom: 0.5em;
}

.form-input {
    margin: 0em 0em 0.5em;
    border-radius: 5px;
    border: none;
    padding: 0.3em;
    font-size: 16px;
    background-color: #3b3b3b;
    color: #fff;
}

.btn-submit {
    padding: 0.5em;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.5s;
    border: none;
}

.btn-submit:hover{
    background-color: rgb(84, 205, 84);
    transition: 0.5s;
    border: none;
}

.exercise-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 1em;
}

.exercise-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #3b3b3b;
    border-radius: 5px;
}

.btn-delete {
    background-color: transparent;
    border:none;
}
