.muscle-group {
    display: inline-block;
    background-color: var(--item-bg);
    color: var(--accent);
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: fit-content;
    font-size: 16px;
    transition: 0.5s;
}

.muscle-group:hover {
    background-color: var(--item-bg-hover);
    transition: 0.5;
    transform: scale(1.1);
    cursor: default;
}