/* --- Estilo específico do card --- */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.actions {
    display: flex;
    gap: 0.8rem;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.btn-icon:hover {
    transform: scale(1.2);
}

.card h3 {
    font-size: 0.9rem;
    color: #888;
    font-weight: 400;
}

/* --- Estilo específico da lista --- */

.list-item button {
    background-color: transparent;
    border: none;
    transition: 0.5s;
}


.list-item button:hover {
    transform: scale(1.2);
    transition: 0.5s;
}